<div id="breadcrumbs">
    <ol>
        <li>
            <a href="index.php">Home</a>
        </li>
        <li>
            <a href="articles.php">Articles</a>
        </li>
        <li>
            Web Accessible Breadcrumbs
        </li>
    </ol>
</div>